<div>
	<nav class="navigation-bar dark">
		<div class="navigation-bar-content">
			<a href="/" class="element"><span class="icon-grid-view"></span>TO-DO LIST MANAGEMENT APP</a>
			<span class="element-divider"></span>

			<a class="pull-menu" href="#"></a>
			<ul class="element-menu">
				<li>
					<a href="/">Notes</a>
				</li>
				<li data-ng-hide="isLoggedIn">
					<a href="register">Register</a>
				</li>
				<li data-ng-hide="isLoggedIn">
					<a href="login">Log In</a>
				</li>
				<li data-ng-show="isLoggedIn">
					<a data-ng-click="logout()" href="/">Log Out</a>
				</li>
			</ul>
		</div>
	</nav>

</div>